# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Cache files
*.cache
*.pdb
*.dll
*.exe

# NuGet
packages/
*.nupkg

# Others
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.scc
.DS_Store